@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --red-900: #fc4747;
    --blue-300: #5a698f;
    --blue-700: #161d2f;
    --blue-900: #10141e;
    --gray-100: #ffffff;
    --black: 0, 0, 0;

    --rgb-blue-300: 90, 105, 143;
    --rgb-blue-700: 22, 29, 47;

    --primary: var(--gray-100);
    --highlight: var(--red-900);
    --background-intense: var(--blue-900);
    --background-muted: var(--blue-700);
    --overlay-intense: rgb(var(--black));
    --overlay-muted: rgba(var(--black), 0.75);
    --skeleton-intense: rgba(var(--rgb-blue-300), 0.5);
    --skeleton-muted: rgba(var(--rgb-blue-300), 0.25);

    --ff-outfit: "Outfit", sans-serif;
    --fs-xs: 0.625rem; /* 10px */
    --fs-sm: 0.75rem; /* 12px */
    --fs-base: 1rem; /* 16px */
    --fs-md: 1.125rem; /* 18px */
    --fs-lg: 1.25rem; /* 20px */
    --fs-xl: 1.5rem; /* 24px */
    --fs-2xl: 2rem; /* 32px */

    --fw-normal: 300;
    --fw-bold: 500;
    --ls-xs: -0.5px;
    --ls-sm: -0.312px;

    /* whitespace: 4 6 8 16 18 24 80 */
    --header-height: 3.5rem;
    --header-height-desktop: 4.5rem;
  }

  @keyframes scroll-banner-animation {
    0% {
      transform: scale(1) translateY(0rem);
      opacity: 1;
    }
    40% {
      transform: scale(2) translateY(-2rem);
      opacity: 0;
    }
  }

  @keyframes enter-exit-scale {
    0% {
      transform: scale(0.75);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.75);
    }
  }

  @keyframes scale-in {
    0% {
      opacity: 0.25;
      transform: scale(0.9);
    }
  }
  @keyframes slide-up {
    0% {
      transform: translateY(1.25rem);
      opacity: 0.25;
      left: 0;
      bottom: 0;
    }
  }
}

@layer utilities {
  .clip-hexagon {
    clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%);
  }
  .text-balance {
    text-wrap: balance;
  }
  .scroll-banner-animation {
    animation: scroll-banner-animation ease-in-out both;
    animation-timeline: scroll(root block);
  }
  .scroll-container > * {
    animation: enter-exit-scale ease-in-out both;
    animation-timeline: view(inline 0% 0%);
  }
  .scroll-container-vertical > * {
    animation:
      slide-up 300ms ease-in-out both,
      scale-in ease-in-out both;
    animation-timeline: view(block 80% 0%);
  }
}

li {
  list-style: none;
}

input {
  background: none;
}

html {
  overflow-y: scroll;
  background-color: var(--background-intense);
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-corner {
  display: none;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--highlight);
  background-clip: content-box;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: var(--blue-300);
  border-radius: 0.5rem;
  margin-block: 0.25rem;
}

#__next {
  display: grid;

  font-family: var(--ff-outfit);
  font-size: var(--fs-base);
  font-weight: var(--fw-normal);

  color: var(--primary);
  background-color: var(--background-intense);
}

.skeleton {
  animation: skeleton 1s ease-in-out infinite;
}

@keyframes skeleton {
  0% {
    background-color: rgb(38, 46, 49);
  }
  50% {
    background-color: rgb(34, 39, 24);
  }
  100% {
    background-color: rgb(41, 49, 52);
  }
}
